# ============================================
# SIMRS Petala Bumi — Environment Variables
# ============================================

# Database
DATABASE_URL="mysql://simrs:simrs_password@localhost:3306/simrs_petala_bumi"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=change-this-to-a-random-secret-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-this-to-another-random-secret-key
JWT_REFRESH_EXPIRES_IN=7d

# MinIO (File Storage)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=simrs-documents

# App
APP_PORT=3001
APP_ENV=development
APP_URL=http://localhost:3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_APP_NAME="SIMRS Petala Bumi"

# SATUSEHAT (isi setelah dapat credentials)
SATUSEHAT_AUTH_URL=
SATUSEHAT_BASE_URL=
SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_ORGANIZATION_ID=

# BPJS (isi setelah dapat credentials dari Kantor Cabang)
BPJS_VCLAIM_URL=
BPJS_VCLAIM_CONS_ID=
BPJS_VCLAIM_SECRET_KEY=
BPJS_VCLAIM_USER_KEY=
BPJS_ANTROL_URL=
BPJS_ANTROL_CONS_ID=
BPJS_ANTROL_SECRET_KEY=
BPJS_ANTROL_USER_KEY=
BPJS_APLICARES_URL=
BPJS_APLICARES_CONS_ID=
BPJS_APLICARES_SECRET_KEY=
